<!--<div class="channels">-->
    <!--<div class="left-menu-header">-->
        <!--CHANNELS-->
        <!--<form action="#" class="input-group search">-->
            <!--<input type="text" placeholder="search..." data-bind="textInput: searchQuery"/>-->
        <!--</form>-->
    <!--</div>-->

    <!--<menu class="left-menu-body list-friends list-channels" data-bind="foreach: filteredChannels">-->
        <!--<li data-bind="css: {'channel-joined': isJoined()}, click: $parent.switchChannel.bind($parent)">-->
            <!--<img width="50" height="50" src="images/no-user-image.gif">-->
            <!--<div class="info">-->
                <!--<div class="user" data-bind="text: display_name"></div>-->
                <!--<div class="status on"> 13 users</div>-->
            <!--</div>-->
        <!--</li>-->
    <!--</menu>-->
<!--</div>-->

<li>
    <span class="subheader">Channels</span>
</li>
<li>
    <ul data-bind="foreach: filteredChannels">
        <li data-bind="css: {'channel-joined': isJoined()}, click: $parent.switchChannel.bind($parent)">
            <a class="info">
                <img width="30" height="30" src="images/no-user-image.gif">
                <span style="vertical-align: middle; margin-left: 4px;" class="" data-bind="text: display_name"></span>
            </a>

        </li>
    </ul>
</li>